{% extends 'base.html.twig' %}

{% block title %}Notes{% endblock %}

{% block body %}

<h1>Notes</h1>

<table class="table">
    <thead>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
        </tr>
    </tbody>
</table>
{% endblock %}
