{% extends 'base.html.twig' %}

{% block title %}Notes{% endblock %}

{% block body %}

<h1>Notes</h1>

<table class="table">
    <thead> 
        <tr>
            <td>Matières</td>
            <td>Note</td>
            <td>Coeff</td>
            <td>Ajouté le</td>
        </tr>
    </thead>
    <tbody>
        {% for note in notes %}
            <tr>
                <td></td>
                <td>{{note.value}}</td>
                <td></td>
                <td>{{note.createdAt|date("m/d/Y : h/i/s")}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
