{% extends 'base.html.twig' %}

{% block title %}{{ 'note.addNote'|trans}}{% endblock %}

{% block body %}

{% if editTitle %}

<h1>{{ 'note.editNote'|trans}}</h1>

{% else %}

<h1>{{ 'note.addNote'|trans}}</h1>

{% endif %}

{{form(formNote)}}

{% endblock %}